@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Your custom variables and styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: transparent; /* Make Electron window transparent */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
