@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  color: #fff;
  overflow: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1e1e1e;
}
