@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  border: 4px solid rgba(0, 0, 0, 0.979);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto; /* allow scroll instead of hiding content */
  background-clip: padding-box;
}

/* ===== CUSTOM SCROLLBAR ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1e1e1e;
}
